@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 200px;
    padding: 10px;
    background-color: rgb(151, 236, 236);
}

p{
    font-weight: 500;
}

span{
    font-weight: 400;
}